.contain{
    width: 100%;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
    flex-direction: column;
    @media (width < 780px) {
        flex-direction: column;
        height: 350vh;
        margin-top: 190px;
             
           }
}
.sec{
    width: 90%;
    display: flex;
    @media (width < 780px) {
       flex-direction: column;
        
       
      }
}
.pro{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    @media (width < 780px) {
        gap: 5px;
        align-items: flex-start;
        justify-content: left;
        
    }
}
.first{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    @media (width < 780px) {
   flex-direction: column;
   justify-content: center;
        
      }
}
.stay{
    width: 50%;
    height: 400px;
    @media (width < 780px) {
        width: 80%;
        height: 200px;
             
           }
}
.paragraph{
    color: gray;
    font-size: 15px;
    text-align: start;
    @media (width < 780px) {
        flex-direction: column;
             font-size: 12px;
             text-align: center;
           }
}
.identify{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
 
}
h2{
    color: white;
    @media (width < 780px) {
        flex-direction: column;
             text-align: center;
           }
}
.users{
    margin-top: 100px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    @media (width < 780px) {
        flex-direction: column;
             
           }
}
.user{
    background-color: rgba(16, 10, 36, 0.959);
    width: 20%;
    padding: 5px 20px;
    z-index: 10;
    border-radius: 9px;
    @media (width < 780px) {
        flex-direction: column;
             width: 80%;
           }
}
h4{
    color: rgb(179, 177, 177);
    font-size: 13px;
}

.pros{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid green;
    display: flex;
  

}
.bgdesk{
    z-index: 0;
}
.slash{
    position: relative;
    width: 40px;
    z-index: 0;
    height: 40px;
    top: 13%;
    right: 34%;
    @media (width <780px) {
        position: relative;
        width: 40px;
        z-index: 0;
        height: 40px;
        top: 8%;
        right: 30%;
        
    }
}
.username{
    font-size: 10px;
    @media  (width <780px) {
        font-size: 11px;
        text-align: start;
        
        
    }
}
.found{
    font-size: 10px;
    @media  (width <780px) {
        font-size: 11px;
        
        
    }
}